/*code by Nuluee*/
/*ccss3*/
/*test: chrome*/
html{
	margin: 0;
	padding: 0;

}

body{
	margin: 0;
	padding: 0;
	background-color: #000;
	font-family: "Helvetica"
}

/*top*/

div#header{
	width: 100%;
	margin: 0;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
}

ul#nav{
	width: 950px;
	margin: 0 auto;
	padding: 20px;
	height: 30px;
	position: relative;
	list-style: none;
	background-color: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius:10px;
	opacity:0.8;
}

ul#nav li{
	float: left;
	margin: 0 50px 0 0;
}

div#void{
	width: 204px;
	height: 399px;
	background-image: url(../img/void.png);
	position: fixed;
	top: 0;
	margin-left: 20px; 
	z-index: 9999;

}


/*center*/

div#container div{
	width:100%;
	height: 432px;
}

div#draw{
	position: absolute;
	background-image: url(../img/back001.png);
	background-position: center;
	background-repeat: no-repeat;
	top:300px;
}


/*loading*/

div#loading{
	width: 100%;
	height: 100%;
	min-height: 100%;
	position:absolute;
	/*background-color: #fff;*/
	z-index: 99999;
}

div#loadingimg{
	width: 195px;
	height: 196px;
	position:relative;
	margin: 0 auto;
	top:200px;
	z-index: 999999;
	
}

div#loadingimg img{
	text-indent: 360px;
}

div#loadingimg div#loadingbar{
	
}