/*code by Nuluee*/
/*ccss3*/
/*test: chrome*/
html{
	margin: 0;
	padding: 0;

}

body{
	margin: 0;
	padding: 0;
	background-color: #24211c;
	font-family: "Helvetica";
	overflow:hidden;
}

/*after*/
/*top*/

div#after{


}

div#header{
	width: 100%;
	margin: 0;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	
}

div#header div#gototop{
	width: 30px;
	height: 30px;
	background-color:#24211c;
	position: absolute;
	left: 0px; 
	margin: 20px
}

div#header div#menu{
	width: 30px;
	height: 30px;
	background-color:#24211c;
	position: absolute;
	right: 0px; 
	margin: 20px
}

div#void{
	display: none;

	width: 204px;
	height: 399px;
	background-image: url(../img/void.png);
	position: fixed;
	top: 0;
	margin-left: 20px; 
	z-index: 9999;

}

/*right*/

div#jumppoint{
	width: 20px;
	height: 60px;
	position: fixed;
	right: 0;
	top: 40%;
	background-color:#24211c;
	z-index: 9999;
}

/*center*/

div#logo{
	width:100%;
	height: 167px;
	position: absolute;
	top: 200px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/cmcn315167.png);
	display: inline-block;
	background-position: center ;
	background-repeat: no-repeat;
	z-index: 9999;

}

div#container div{
	width:100%;
	height:100%;
	overflow:hidden;
	min-height:100%;/*这句和下面那句好像对next没关系啊*/
  	height: auto !important;

}


div#index{
	position: absolute;
	top:0;
	background-image: url(../img/bg/index.png);
	background-position: bottom center ;
	background-repeat: no-repeat;
	background-color: #DDDCD7;
	background-attachment: fixed;

}


div#next{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 20px;
	background-color: #24211c;
	opacity: 0.5;
	clear: both;
	text-align: center;
}

div#next span{
	color: #ffffff;
	opacity: 1;
}


/*loading*/

div#loading{
	width: 100%;
	height: 100%;
	min-height: 100%;
	position:absolute;
	background-repeat:no-repeat;
	background-position:top center;
	background-color: #fff;
	z-index: 99999;
	text-indent: 10px;

}

div#loadingimg{
	width: 195px;
	height: 196px;
	position:relative;
	margin: 0 auto;
	top:200px;
	z-index: 999999;

}

div#loadingimg img{
	text-indent: 360px;/*旋转角度参数*/

}


div#loading #cover_1{
	width: 10px;
	height: 10px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top:132px;
	background-color: #000;
	text-indent: 0px;/*旋转角度参数*/

}





div#loadingimg div#loadingbar{
	
}

